# =========================
# FRONTEND
# =========================

frontend/node_modules/
frontend/dist/
frontend/.vite/

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.*.local


# =========================
# BACKEND - PYTHON
# =========================

# Python cache
backend/__pycache__/
backend/**/*.pyc
*.pyc

# Virtual environments
backend/venv/
backend/.venv/

# Environment variables
backend/.env
backend/.env.*

# Uploaded files
backend/app/uploads/*
!backend/app/uploads/.gitkeep

# Python packaging
backend/*.egg-info/
backend/**/*.egg-info/


# =========================
# GENERAL
# =========================

.DS_Store